body {
  margin: 0;
  padding: 0;
  background-color: #000;
}
* {
  box-sizing: border-box;
}
#myVideo {
  position: fixed;
  top: 0;
  width: 100vw;
  z-index: -100;
}

.snap {
  font-size: 2em;
  border: none;
  background-color: red;
  color: #fff;
  border-radius: 50%;
  padding: 10px 17px;
  position: fixed;
  bottom: 1em;
  right: 1em;
}

#screenshotsContainer {
  display: flex;
  position: fixed;
  padding: 10px 0;
  bottom: 0;
  height: 25vh;
  width: 100vw;
  z-index: -99;
  overflow-x: auto;
  overflow-y: hidden;
}
#screenshotsContainer img {
  position: relative;
  height: 100%;
  margin: 0 10px;
  border-radius: 6px;
  animation-duration: 500ms;
  animation-name: slideIn;
}

#screenshotsContainer video {
  height: 100%;
}

@keyframes slideIn {
  0% {
    transform: scale(0);
  }

  100% {
    transform: scale(1);
  }
}
